.outer {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  background-color: green;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
}

.inner {
  width: 100%;
  height: 50%;
}

.inner1 {
  background-color: blue;
  position: static;
}

.inner2 {
  background-color: yellow;
}
